@font-face {
font-family: 'CreamCake';
src: url('/fonts/Cream-Cake.otf') format('opentype');
font-weight: normal;
font-style: normal;
}
.cream-cake-font{
  font-family: "CreamCake";
}
@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-upDown {
  animation: upDown 2s ease-in-out infinite;
}